body{
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: fixed;
    top: -90px;
    box-shadow: 0 0 2px 0 black;
    z-index: 5;
} 
.image{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 4%;
    bottom: 2%;
} 
.list{
    position: absolute;
    right: 5%;
    bottom: 12%;
}
.list ul{
    list-style: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.list ul li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.list ul li a{
    color: violet;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
} 
.list ul li:hover a {
    color: aliceblue;
    background-color: blueviolet;
}
.submenu ul li a {
    margin-top: 8px;
}
.submenu{       
    display: none;
    position: absolute;
    background-color: blueviolet;
    border-radius: 5px;
    margin-top: 8px;
}
.submenu ul{
    width: 150px;
    text-align: left;
}
.submenu ul li{
    padding: 10px;
    margin-left: -25%;
}
.list ul li:hover .submenu{
    display: block;
}
.submenu ul li:hover a{
    color:blue;
    text-decoration: underline;
}
.wep_image{
    width: 100%;
    height: 990px;
    position: relative;
}
.wep_image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0% ;
}
.box1{
    position: absolute;
    font-family: Baskerville;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0,0.5);
    width: 50%;
    height: auto;
    top: 20%;
    left: 15%;
    padding:20px 20px 40px;
    border-radius: 10px;
}
.box1 h1{
    width: auto;
    margin-top: 0%;
    text-shadow: 1px 1px 3px rgb(156, 23, 23);
}
.box1 p{
    text-shadow: 1px 1px 3px rgb(156, 23, 23);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 4%;
}
.box1 a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bolder;
    background-color: blue;
    border-radius: 5px;
}
.box1 a:hover{
    box-shadow: 0px 0px 2px 2px white;
    background-color: transparent;
}
.content{
    width: 100%;
    height: 500px;
    background-color: whitesmoke ;
    position: relative;
}
.img2{
    width: 500px;
    height: 100%;
    position: absolute;
    left: 0;
}
.img2 img{
    width: 100%;
    height: 100%;
}
.textcontent{
    width: 500px;
    height: 100%;
    position: absolute;
    left: 20%;
    padding: 5px;
    top: 5%;
}
.textcontent h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    font-size: 140%;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    line-height: 20px;
}
.textcontent p{
    font-size: 120%;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 1px grey;
    line-height: 50px;
}
.textcontent a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bolder;
    background-color: blue;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 20%;
}
.textcontent a:hover{
    box-shadow: 0px 0px 2px 2px purple;
    background-color: transparent;
    color: black;
}
.rub{
    width: 1000px;
    height: 500px;
    position: absolute;
    right: -15px;
    top: 2%;
}
.rub img{
    width: 95%;
    height: 95%;
}
.content2{
    width: 100%;
    height: 300px;
    background-image: url(https://images.travelandleisureasia.com/wp-content/uploads/sites/5/2023/01/09213247/shopping.jpg?tr=w-1366,f-jpg,pr-true);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content2 p{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.bigcontent{
    width: 100%;
    height: auto;
    background-color: white;
}
.bigcontent .text11{
    padding: 40px 0px;
    text-align: center;     
}
.text11 h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.photo{
    width: 1000px;
    height: 400px;
    margin: auto;
    background-color: white;
    position: relative;
}
.left{
    width: 23%;
    height: auto;
    position: absolute;
}
.left .leftMenu{
    width: 100%;
    padding: 12px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px auto;
}
.left .leftMenu a {
    color: black;
    text-decoration: none;
}
.left .leftMenu:hover{
    background-color: blue;
}
.left .leftMenu:hover a {
    color: white;
}
.left .Active{
    background-color: blue;
}
.left .Active a{
    color: white;
}
.right{
    width: 71%;
    height: auto;
    position: absolute;
    padding: 0px 5px;
    right: 0;
}
.right .picpromo{
    width: 31.3%;
    height: 130px;
    float: left;
    margin: 0px 1% 30px;
    box-shadow: 0px 0px 8px 1px grey;
    position: relative;
    overflow: hidden;
}
.right .picpromo:hover .detail{
    top: 0;
}
.right .picpromo img{
    width: 100%;
    height: 100%;

}
.right .picpromo .detail{
    width: 100%;
    height: 100%;
    background-color: rgb(71, 22, 150);
    z-index: 2;
    top: 100%;
    position: absolute;
    color: white;
    transition:top 0.5s;
}
.detail h5{
    font-size: 16px;
    font-weight: bolder;
    margin: 5px 15px;
}
.detail p{
    font-size: 12px;
    line-height: 20px;
    margin: 10px 10px 0px;
}
.detail h4{
    font-size: 18px;
    padding-top: 10px;
    margin: 5px 15px;
    border-top: 1px dashed white;   
}
.Bigpic{
    width: 1000px;
    height: 780px;
    margin: auto;
    position: relative;
    background-color: white;
}
.Bigpic .Gallery{
    width: 30.733%;
    height: 210px;
    margin: 1% 1% 10px;
    float: left;
    position: relative;
    border: 3px solid red;
    transition: transform 0.85s;
}
.Gallery img{
    width: 100%;
    height: 100%;
}
.Gallery:hover{
    transform: scale(1.07);
}
.foot{
    width: 100%;
    height: 420px;
    background-image: url(Images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 0;
}
.info{
    color: rgb(255, 255, 255);
    width: 15%;
    height: 250px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    top: 15%;
}
.info h5{
    font-size: 18px;
    margin-top: 5px;
    border-bottom: 2px solid white;
    text-transform:uppercase ;
    padding-bottom: 10px;
}
.info p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    line-height: 25px;        
}
#info1{
    left: 20%;
}
#info3{
    right: 20%;
}
#info2{
    left: 42.5%;
}
.footBack{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.8);
}
.lastfoot{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}
.lastfoot p{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    text-shadow: 0px 0px 5px rgb(39, 10, 202);
    font-weight: 500px;
}